.game-view {
    display: flex;
    height: 100dvh;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.main-panel {
    flex: 2;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    opacity: 1;
}
.secondary-panel {
    flex: 1;

    display: flex;
    flex-direction: column;
}
.room-panel {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
.chat-view {
    flex: 4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.chat-title {
    text-align: left;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}
#chat-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.message-log {
    flex: 8;
    overflow: scroll;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
.new-message-form {
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
.answer-form {
    flex: 1;
}
.board-view {
    table-layout: fixed;
    width: 100%;
    max-height: 100%;
}